:root {
    --color-white: #FFFFFF;
    --nav-height: 70px;
    --default-shadow: 0 1px 10px rgba(0,0,0,0.5);
    --default-transition: linear 0.2s;
    --default-width: 960px;
    --color-gray: #5A666F;
}


body {
    margin: 0;
    font-family: sans-serif;
    background-color: lightgray;
}


nav {
    position: fixed;
    top: 0;
    box-shadow: none;
    height: var(--nav-height);
    background-color: transparent;
    width: 100%;
    z-index: 1001;
}


nav div.container.scrolled {
    transition: var(--default-transition) box-shadow border-radius;
    box-shadow: var(--default-shadow);
    border-radius: 0;
}

i#close {
    color: white;
    position: absolute !important;
    right: 20px;
    top: 15px;
    font-size: 30px;
}

nav div.container {
    box-shadow: none;
    overflow: hidden;
    transition: var(--default-transition) box-shadow;
    width: var(--default-width);
    background-color: var(--color-gray);
    margin: auto;
    height: 100%;
    padding: 0 30px;
    border-radius: 10px 10px 0 0;
    border: 1px gray solid;
    border-bottom: none;
}

nav div.container div.animator {
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}


nav div.container button {
    height: 100%;
    width: 150px;
    position: relative;
    border-style: none;
    font-size: 18px;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-white);
    z-index: 2;
}


nav div.container button:focus {
    outline: none;
}

div.outer-container {
    margin-top: var(--nav-height);
}


div.main {
    width: var(--default-width);
    background-color: var(--color-white);
    border-radius: 0 0 10px 10px;
    border: 1px gray solid;
    border-top: none;
    height: 0;
    margin: 0 auto 15px;
    padding: 30px;
    transition: height 0.25s ease-in-out;
    will-change: height;
    overflow: hidden;
}


h1.title {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

@media (max-width: 960px) {
    :root {
        --default-width: auto;
    }

    body {
        background-color: #FFFFFF;
    }

    div.main {
        padding: 15px;
    }

    nav div.container {
        border-radius: 0;
    }

    div.main {
        transition: none;
        border-radius: 0;
        border: none;
    }
}