img.header {
    border-radius: 10px;
    width: 200px;
}

div.blog-container {
    margin-top: 20px;
}

div.blog-card {
    border: 1px var(--color-gray) solid;
    padding: 15px;
    margin: 20px 0;
}

div.blog-card a {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-10px, -10px);
}